<!--Following Modal -->
<div class="modal fade" id="userfollowingModal" tabindex="-1" aria-labelledby="userfollowingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userfollowingModalLabel">Following</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for follow in user_is_following %}
          <div class="card" style="width: 100%">
            <div class="card-body d-flex align-items-center">
              <a href={% url 'view_user' pk=follow.user.pk %} class="btn d-flex align-items-center">
                <img src="{{follow.user.profile_pic.url}}" alt='profile picture'class="img-thumbnail" style="width: 2.5em; height: 2.5em; border-radius: 50%;">
                <h5 class="card-title">{{follow.user.username}}</h5>
             {% if follow.user.pk not in following_user_list and follow.user.pk != user.pk%}
              <form method="POST" action="{% url 'create-follow-request' pk=follow.user.pk %}">
                {% csrf_token %}
                {% if follow.user.pk not in follower_user_list %}
                <button type="submit" class="btn">Follow</button>
                {%else%}
                <button type="submit" class="btn">Follow back</button>
                {% endif %}
            </form>
            {% endif %}
              </a>
              </div>
          </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>