{% extends 'base/base_content.html' %}
{% block content %}
  <div class="row d-flex align-items-center">
    <h1>View profile</h1>
    <img src="{{profile_user.profile_pic.url}}" alt='profile picture'class="img-thumbnail" style="width: 80px; height: 80px; border-radius: 50%;">
    <p>Name: {{profile_user.first_name}} {{profile_user.last_name}}</p>
    <p>Username: {{profile_user.username}}</p>
    <p>Email: {{profile_user.email}}</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userfollowerModal" 
      {% if profile_user.private and profile_user.pk not in following_user_list %} disabled {% endif %} >
      Followers: {{user_followers.count}}
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userfollowingModal"
    {% if profile_user.private and profile_user.pk not in following_user_list %} disabled {% endif %} >
      Following: {{user_is_following.count}}
    </button>
    {% if profile_user.pk in follow_requests_made %}
    <button type="button" class="btn btn-primary" disabled>Pending...</button>
    {% elif profile_user.pk not in following_user_list and profile_user.pk != user.pk%}
    <form method="POST" action="{% url 'create-follow-request' pk=profile_user.pk %}">
      {% csrf_token %}
      {% if profile_user.pk not in follower_user_list %}
      <button type="submit" class="btn btn-primary">Follow</button>
      {%else%}
      <button type="submit" class="btn btn-primary">Follow back</button>
      {% endif %}
      {% else %}
      <button class="btn btn-primary">Friends!</button>
    </form>
    {% endif %}
  </div>
{% include 'other_users/follower_modal.html' %}
{% include 'other_users/following_modal.html' %}
{%endblock%}