<div class="main-nav-container">
    <nav class="nav">
      <div class="nav__border"></div>
      <div class="top-nav">
      <a href="{% url 'dashboard' %}" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                home
                </span>
        </div>
        <span class="nav__label">Home</span>
      </a>
      <a href="{% url 'view-profile' %}" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                account_circle
                </span>
        </div>
        <span class="nav__label">Profile</span>
      </a>
      <a href="#" class="nav__link nav__link--search">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                search
                </span>
        </div>
        <span class="nav__label">Search</span>
      </a>
      <a href="#" class="nav__link nav__link--messages">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                message
                </span>
        </div>
        <span class="nav__label">Messages</span>
      </a>
      <a href="{% url 'create-post' %}" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                add_circle
                </span>
        </div>
        <span class="nav__label">Create</span>
    </a>
    </div>
    <div class="spacer">
</div>
<div class="bottom-nav">
    <a href="#" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                more_vert
                </span>
        </div>
        <span class="nav__label">More</span>
      </a>
      <a href="#" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                settings
                </span>
        </div>
        <span class="nav__label"> Settings </span>
      </a>
</div>
    </nav>
    {% comment %} Search sidebar {% endcomment %}
    <div class="search-sidebar" id="searchSidebar">
        <div class="search-sidebar__content">
            <form id="searchForm">
                {% csrf_token %}
                <input type="text" id="searchInput" placeholder="Search..." name="query">
            </form>
            <div id="searchResults"></div> 
            <button class="close-sidebar" id="closeSidebar">Close</button>
        </div>
    </div>
</div>
{% comment %} Messages sidebar {% endcomment %}
<div class="messages-sidebar" id="messagesSidebar">
    <div class="messages-sidebar__content">
        <div id="messages-user"></div>
        {% for result in friends %}
        <a href={% url 'create_message' pk=result.pk %} >
            <div class="card" style="width: 100%">
            <div class="card-body d-flex align-items-center">
                <img src={{result.profile_pic.url}} alt='profile picture'class="img-thumbnail" style="width: 2.5em; height: 2.5em; border-radius: 50%;">
                <div class = "container">
                <h5 class="card-title">{{result.username}}</h5> 
                <p>{{result.first_name}} {{result.last_name}}</p>
                </div>
            </div>
            </div>
            </a>
            {% endfor %}
        <button class="close-messages" id="closeMessages">Close</button>
    </div>
</div>

<script>
    const shouldOpenMessagesSidebar = {{ open_messages_sidebar|yesno:"true,false" }};
</script>
{% comment %} <script src="{% static 'js/menu.js' %}" defer></script> {% endcomment %}