    <nav class="nav">
      <div class="nav__border"></div>
      <div class="top-nav">
      <a href="{% url 'dashboard' %}" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                home
                </span>
        </div>
        <span class="nav__label">Home</span>
      </a>
      <a href="{% url 'view-profile' %}" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                account_circle
                </span>
        </div>
        <span class="nav__label">Profile</span>
      </a>
      <a href="#" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                search
                </span>
        </div>
        <span class="nav__link">Search</span>
      </a>
      <a href="#" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                explore
                </span>
        </div>
        <span class="nav__label">Explore</span>
      </a>
      <a href="#" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                add_circle
                </span>
        </div>
        <span class="nav__label">Create</span>
    </a>
    </div>
    <div class="spacer">
</div>
<div class="bottom-nav">
    <a href="#" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                more_vert
                </span>
        </div>
        <span class="nav__label">More</span>
      </a>
      <a href="#" class="nav__link">
        <div class="nav__icon-container">
            <span class="material-symbols-outlined">
                settings
                </span>
        </div>
        <span class="nav__label"> Settings </span>
      </a>
</div>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const nav = document.querySelector(".nav");
            const navBorder = document.querySelector(".nav__border");

         if (navBorder) {
                navBorder.addEventListener("click", () => {
                    console.log("Border clicked!");
                    nav.classList.toggle("nav--collapsed");
                    console.log("Collapsed class toggled:", nav.classList.contains("nav--collapsed"));
                });
            }
        });
        
          
      </script>