<!--Following Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="followingModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for follow in following %}
          <div class="card" style="width: 100%">
            <div class="card-body d-flex align-items-center">
              <a href={% url 'view_user' pk=follow.user.pk %} class="btn d-flex align-items-center">
                <img src="{{follow.user.profile_pic.url}}" alt='profile picture'class="img-thumbnail" style="width: 2.5em; height: 2.5em; border-radius: 50%;">
                <h5 class="card-title">{{follow.user.username}}</h5>
                <form method="POST" action="{% url 'remove-follower' pk=follow.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn">Remove</button>
              </form>
            </a>
            </div>
          </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>