{% extends 'base/base_content.html' %}
{% block content %}
<div class="container">
  <div class="row d-flex align-items-center">
    <h1>View profile</h1>
    <img src="{{user.profile_pic.url}}" alt='profile picture'class="img-thumbnail" style="width: 80px; height: 80px; border-radius: 50%;">
  </div>
    <p>Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <a href='{% url 'delete-profile' %}' class="btn">Delete profile</a>
    <a href='{% url 'edit-profile' %}' class="btn">Edit profile</a>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#followerModal">
      Followers: {{followers.count}}
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#followingModal">
      Following: {{following.count}}
    </button>
</div>

{% include "account/follower-modal.html" %}
{% include "account/following-modal.html" %}

{%endblock%}